.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%;
    height: calc(100vh - 100px);
    color: var(--primary-white);
}
.intro h1, .intro h2{
    margin: 0;
}

.intro h1{
    font-size: 56px;
    margin-bottom: 2rem;
}

.intro h2{
    font-size: 32px;
    color: var(--primary-light);
    box-shadow: 10px 8px 16px 0 rgba(221, 213, 213, 0.2), 10 16px 30px 0 rgba(237, 234, 234, 0.19);
}