.passwordInput {
    position: relative;
}
  
.passwordInput > input {
    width: 100%;
}
  
.passwordInput > button {
    position: absolute;
    right: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    top: 3px;
    margin: auto;
}

.sign-form .passwordInput:has(+ .fieldError) > input {
    border-color: var(--error-color);
    color: var(--error-color);
    outline-color: var(--error-color);
}

.sign-form label:has(+ .passwordInput + .fieldError) {
    color: var(--error-color);
}